
@{
    ViewBag.Title = "Comic";
}

<div class="row text-center">
    <div class="col-md-12">
        <h2>
            @Model.Title
        </h2>
        <img src="@Model.Img" alt="@Model.Alt" />
    </div>
    <div class="col-md-12">
        <span>@Model.Alt</span>
    </div>
</div>
